/* src/styles/ConfirmationPopup.css */
/* .confirmation-popup {
    text-align: center;
    padding: 20px;
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
} */

/* src/styles/ConfirmationPopup.css */
.confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.confirmation-popup h2 {
    margin-bottom: 10px;
}

.confirmation-popup p {
    margin: 5px 0;
}

.close-btn {
    position: absolute;
    top: -22px;
    right: -6px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

